@font-face {
    font-family: "norse-normal";
    src: url("./fonts/Norse.woff2") format("woff2"),
    url("./fonts/Norse.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "norse-bold";
    src: url("./fonts/Norse-Bold.woff2") format("woff2"),
    url("./fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
}

* {
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}

body {
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}

main {
    display: flex;
    height: 100vh;
}

.left {
    width: 35%;
    background-image: url("./img/betsaid-garcia-mountain-unsplash.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left .logo {
    background-color: rgb(0,0,0,0.45);
    color: white;
    font-family: "norse-bold";
    font-size: 4.5rem;
    height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .logo img {
    max-height: 100%;
}

.left p {
    font-size: 1rem;
    text-align: center;
    position: relative;
    top: 20vh;
    color: white;
}

.right {
    width: 65%;
    background-color: whitesmoke;
}
