@font-face {
    font-family: "norse-normal";
    src: url("./fonts/Norse.woff2") format("woff2"),
    url("./fonts/Norse.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "norse-bold";
    src: url("./fonts/Norse-Bold.woff2") format("woff2"),
    url("./fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
}

* {
    margin: 0;
}

body {
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}

main {
    display: flex;
    height: 100vh;
}

.left {
    width: 35%;
    background-image: url("./img/betsaid-garcia-mountain-unsplash.jpg");
}

.right {
    width: 65%;
    background-color: green;
}
